<?xml version="1.0"?>
<launch>
    <arg name="dance_config_path"	default="$(find witdog_functions)/scripts/dance_actions/dance_example0.json" />
    <node pkg="witdog_functions" type="dance.py" respawn="true" name="lets_dance" output="screen">
        <param name="~dance_config_path" value="$(arg dance_config_path)"/>
    </node>
    <node pkg="witdog_functions" type="pose_controller.py" name="pose_controller" output="screen"/>
    
</launch>