<?xml version="1.0" encoding="utf-8"?>
<robot name="witdog" xmlns:xacro="http://wiki.ros.org/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/FlatBlack</material>
    </gazebo>
    
    <xacro:macro name="link_gazebo" params="link_position">
        <gazebo reference="${link_position}_1">
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
            <maxVel>0.0</maxVel>
            <minDepth>0.001</minDepth>
            <material>Gazebo/DarkGrey</material>
        </gazebo>

        <gazebo reference="${link_position}_2">
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
            <maxVel>0.0</maxVel>
            <minDepth>0.001</minDepth>
            <material>Gazebo/DarkGrey</material>
        </gazebo>

        <gazebo reference="${link_position}_3">
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
            <maxVel>0.0</maxVel>
            <minDepth>0.001</minDepth>
            <material>Gazebo/DarkGrey</material>
        </gazebo>
        <gazebo reference="${link_position}_foot">
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
            <maxVel>0.0</maxVel>
            <minDepth>0.001</minDepth>
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

    <xacro:link_gazebo link_position="lf" />
    <xacro:link_gazebo link_position="rf" />
    <xacro:link_gazebo link_position="lh" />
    <xacro:link_gazebo link_position="rh" />

</robot>